.fourth {
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid #6225B5;
  background-image: url("images/indique-mobile.jpg");

  @media (min-width: 959px) {
    background-image: url("images/indique.jpg");
  }

  p {
    font-size: 18px;
    color: white;
    background-color: #0C3900;
    margin-bottom: 0;
  }

  span {
    color: black;
  }

  img {
    width: 48px;
    padding-left: 4px
  }

  #btn-fourth {
    background: #FFCF00;
    position: absolute;
    cursor: pointer;
    z-index: 999999;
    padding: 0 36px;
    border-radius: 20px;
    border: 2px solid #000;
    right: 0;
    top: 50px;

    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    } 
  }

  .fourth-section {
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative;
  }
}